name: Promote-to-qa
on:
  workflow_dispatch:
    inputs:
      rb-version:
        description: 'Release bundle version'     
        required: true
      rb-name:
        description: 'Release bundle name'     
        required: true
        default: "jfrog-kryptostream-app"
      rb-stage:
        description: 'to what stage to promote'     
        required: true
        default: "jfrog-kryptostream-app"  
      environment_set:
        required: true
        type: choice
        options:           
          - QA
          - PROD
        default: "QA"
        description: "Select to what stage promote the release bundle" 
permissions:
  id-token: write
  contents: read

jobs:
  Promote-to-qa-and-test:
    environment: ${{ github.event.inputs.environment_set }}
    runs-on: ubuntu-latest
    env:
      PROMOTE_REPO_NAME: ptfl-oci-dev-local
    steps:
    
      - name: Checkout
        uses: actions/checkout@v4
    
      - name: Setup JFrog CLI 
        uses: jfrog/setup-jfrog-cli@v4
        id: setup-cli
        env:
          JF_URL: ${{ vars.JF_URL }} 
          JF_PROJECT: ${{ vars.JF_PROJECT }}
        with:
            oidc-provider-name: ptfl-github
            oidc-audience: ptfl-aud

      - name: Promote to Test
        run: |
          jf release-bundle-promote  ${{ inputs.rb-name }} ${{ inputs.rb-version }} QA --signing-key ${{ secrets.RB_KEY }} --sync=true 
   
